.containerImagem {
  width: 100%;
  background-image: url(../imagens/FormasGrad.png);
  background-size: auto;
  background-position: top center;
  background-repeat: repeat-x;
  height: 100%;
  min-height: 100% !important;
  padding-top: 0px;
  margin-top: -25px;
  display: table;
  margin-bottom: 15px !important;
  padding-bottom: 15px;
}

.titulos {
  font-weight: 500;
  font-size: 38px;
  color: #2ad2b3;
}

.subtitulosMin {
  width: 100%;
  float: left;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 18px;
  color: #2ad2b3;
  margin-top: 35px;
  margin-bottom: 20px;
  height: 38px;
  padding-bottom: 3px;
  background-image: url(../imagens/sep.png);
  background-repeat: repeat-x;
  background-position: bottom left;
}
.subTitulos {
  color: #2ad2b3 !important;
  font-size: 15px;
  font-weight: bold;
}
.btn-editado {
  background-color: #2ad2b3 !important;
  color: #FFFFFF;
}

.correcao-buttons {
    margin-top: 7px !important;
}

.bg-button {
  background-color: #2ad2b3 !important;
  color: #FFFFFF;
}

/* Navbar - Empresa e Usuário */
.navbar {
  background-color: #2ad2b3 !important;
  color: #FFFFFF !important;
  position: fixed !important; 
  width: 100%;
  top: 0px;
  z-index: 9999;
}

.navbar .navbar-nav .nav-item .nav-link img {
  width: auto;
  height: 40px;
}

/* Sidebar - Empresa e Usuário */
.sidebar {
  background-color: #2ad2b3 !important;
}

.txt-sidebar { 
  color: #2ad2b3 !important;
}

.menu-sidebar {
  color: #ffffff;
}

/* HomeEmpresa.vue */
.imagemHome {
  width: 100%;
  float: left;
  background-image: url(../imagens/FormasColor.png);
  background-position: top center;
  min-height: 800px !important;
  height: 800px !important;
}
.imagemConteiner {
  width: 100%;
  float: left;
  background-image: url(../imagens/bg_candidatos.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  display: table;
  margin-top: -20px;
  min-height: 800px !important;
  height: 800px !important;
}

.card-container {
  width: 400px;
  height: 270px;
  margin: 0 auto;
  margin-top: 0px;
  margin-top: 10%;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 20px;
  padding-bottom: 40px;
  display: table;
  text-align: center;
  opacity: 0;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

.card-interno {
  opacity: 1;
  visibility: visible;
  opacity: 1;
  transform: translateX(0) scale(1);
  opacity: 1;
  transition: transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

.btn-home {
  width: auto !important;
  min-width: 280px;
  padding: 10px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  background-color: #2ad2b3 !important;
  color: #FFFFFF !important;
  border: solid 2px #2ad2b3 !important;
  text-align: center !important;
  margin: 5px !important;
  border-radius: 25px !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  cursor: pointer !important;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2) !important;
  transition: background-color 0.4s, color 0.5s !important;
}

.btn-home:hover {
  background-color: #FFFFFF !important;
  color: #2ad2b3 !important;
}

/* Modal de Visuzação da Vaga */
#visualizarVaga {
  margin-top: 28px;
}

.modal-footer {
  /* margin-bottom: 25px !important; */
}

.container-visualizar-vaga {
  text-align: center;
  border: solid 2px #2ad2b3 !important;
  /* width: auto;
  height: 350px;
  overflow: auto;
  padding: 0 !important; */
}

.container-visualizar-vaga .titulo-vaga{
  border: solid 2px #2ad2b3 !important;
  color: #FFFFFF;
  background-color: #2ad2b3;
  font-size: 125%;
}

.container-visualizar-vaga .titulo-vaga label{
  padding: 2px;
  font-weight: bold;
}

.container-visualizar-vaga .subtitulo-vaga .sub-titulo{
  padding: 1px;
  font-weight: bold;
  color: #2ad2b3;
}

.container-visualizar-vaga .subtitulo{
  background-color: #f7f7f7;
  color: #2ad2b3;
  font-weight: bold;
}

.container-visualizar-vaga .subtitulo .item {
  color: #212529;
  font-weight: normal;
}

.container-visualizar-vaga .visualizar-vaga-botao-candidatar {
  margin: 30px;
}
.container-visualizar-vaga .noPaddingLeft {
  padding-left: 0px !important;
}
.container-visualizar-vaga .noPaddingRight {
  padding-right: 0px !important;
}

.experiencia {
  margin: 15px !important;
  width: 100%;
}

/* Cards */

.card {
  border: 1px solid #2ad2b3 !important;
  text-align: center;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
  width: auto;
  height: 300px;
  /* overflow: hidden; */
}

.card .card-header {
  background-color: #2ad2b3 !important;
  color: #FFFFFF;
  font-weight: bold !important;
  font-size: 100% !important;
  overflow: hidden;
  height: 50px;
}

.card .card-body .card-text .item {
  overflow: hidden;
  height: 50px; 
}

.card .card-text .subtitulo {
  background-color: #f7f7f7;
  color: #2ad2b3;
  font-weight: bold;
}

.card .card-footer {
  background-color: #FFFFFF;
  border-top: none;
}

.btn-up {
	position: fixed;
  bottom: 20px;
  right: 20px;
  /* background-color: red; */
  color: #FFFFFF;
  border-radius: 50vh;
  border: none;
  width: 50px;
  height: 50px;
  display: none;
}

/* Styles dos Paginator */
.page-item.active .page-link {
  background-color: #2ad2b3 !important;
  border-color: #2ad2b3 !important;
  color: #FFFFFF !important;
}

.page-item .page-link {
  color: #2ad2b3 !important;
}

.page-item .page-link:hover {
  color: #FFFFFF !important;
  background-color: #2ad2b3 !important;
  border-color: #2ad2b3 !important;
}

/* Styles dos Checkbox */
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #2ad2b3 !important;
  background-color: #2ad2b3 !important;
}