.containerImagem {
  width: 100%;
  background-image: url(./FormasGrad.png);
  background-size: auto;
  background-position: top center;
  background-repeat: repeat-x;
  height: 100%;
  min-height: 100% !important;
  padding-top: 0px;
  margin-top: -25px;
  display: table;
  margin-bottom: 15px !important;
  padding-bottom: 15px;
}

.titulos {
  font-weight: 500;
  font-size: 38px;
  color: #2ad2b3;
}

.subtitulosMin {
  width: 100%;
  float: left;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 18px;
  color: #2ad2b3;
  margin-top: 35px;
  margin-bottom: 20px;
  height: 38px;
  padding-bottom: 3px;
  background-image: url(./sep.png);
  background-repeat: repeat-x;
  background-position: bottom left;
}
.subTitulos {
  color: #2ad2b3 !important;
  font-size: 15px;
  font-weight: bold;
}
.btn-editado {
  background-color: #2ad2b3 !important;
  color: #FFFFFF;
}

/* Navbar - Empresa e Usuário */
.navbar {
  background-color: #2ad2b3 !important;
  color: #FFFFFF !important;
  position: fixed !important; 
  width: 100%;
  top: 0px;
  z-index: 9999;
}

/* Sidebar - Empresa e Usuário */
.sidebar {
  background-color: #2ad2b3 !important;
}

.txt-sidebar { 
  color: #2ad2b3 !important;
}

.menu-sidebar {
  color: #ffffff;
}

/* HomeEmpresa.vue */
.imagemHome {
  width: 100%;
  float: left;
  background-image: url(./FormasColor.png);
  background-position: top center;
  min-height: 800px !important;
  height: 800px !important;
}
.imagemConteiner {
  width: 100%;
  float: left;
  background-image: url(./bg_candidatos.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  display: table;
  margin-top: -20px;
  min-height: 800px !important;
  height: 800px !important;
}

.card-container {
  width: 400px;
  height: 270px;
  margin: 0 auto;
  margin-top: 0px;
  margin-top: 10%;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 20px;
  padding-bottom: 40px;
  display: table;
  text-align: center;
  opacity: 0;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

.card-interno {
  opacity: 1;
  visibility: visible;
  opacity: 1;
  transform: translateX(0) scale(1);
  opacity: 1;
  transition: transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

.btn-home {
  width: auto !important;
  min-width: 280px;
  padding: 10px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  background-color: #2ad2b3 !important;
  color: #FFFFFF !important;
  border: solid 2px #2ad2b3 !important;
  text-align: center !important;
  margin: 5px !important;
  border-radius: 25px !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  cursor: pointer !important;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2) !important;
  transition: background-color 0.4s, color 0.5s !important;
}

.btn-home:hover {
  background-color: #FFFFFF !important;
  color: #2ad2b3 !important;
}

/* Contato */
.contato {
  width: 100%;
  float: left;
  background-color: #2ad2b3;
  height: 250px;
  /* display: table; */
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url(./bg_formas_white.png);
}

.contato-endereco {
  float: left;
  text-align: left;
  list-style: none;
  padding-left: 50px;
  margin-top: 35px;
}

.contato-endereco h4 {
  color: #FFFFFF;
  line-height: 28px;
  font-size: 15px !important;
  font-weight: 700;
}

/* Footer */
.footer {
  width: 100%;
  float: left;
  font-size: 10px;
  line-height: 17px;
  color: #9E9E9E;
  background-color: #252525;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Modal de Visuzação da Vaga */
#visualizarVaga {
  margin-top: 56px;
}

.container-visualizar-vaga {
  text-align: center;
  border: solid 2px #2ad2b3 !important;
}

.container-visualizar-vaga .titulo-vaga{
  border: solid 2px #2ad2b3 !important;
  color: #FFFFFF;
  background-color: #2ad2b3;
  font-size: 125%;
}

.container-visualizar-vaga .titulo-vaga label{
  padding: 2px;
  font-weight: bold;
}

.container-visualizar-vaga .subtitulo-vaga .sub-titulo{
  padding: 1px;
  font-weight: bold;
  color: #2ad2b3;
}

.container-visualizar-vaga .subtitulo{
  background-color: #f7f7f7;
  color: #2ad2b3;
  font-weight: bold;
}

.container-visualizar-vaga .subtitulo .item {
  color: #212529;
  font-weight: normal;
  /* background-color: #FFFFFF; */
 
}
/* .container-visualizar-vaga .noPaddingLeft {
  padding-left: 0px !important;
}
.container-visualizar-vaga .noPaddingRight {
  padding-right: 0px !important;
} */

@media only screen and (max-width: 500px) {
  .card-container {
    width: 300px;
  }
  .contato {
    height: 300px;
  }
  .contato-endereco {
    padding-left: 0px;
    text-align: center;
  }

  .contato-endereco h4 {
    font-size: 12px !important;
    line-height: 20px;
  }

  .noBorderMobile {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .container-visualizar-vaga .noPaddingLeft {
    padding-left: none !important;
  }
  .container-visualizar-vaga .noPaddingRight {
    padding-right: none !important;
  }

  .tamanhoFixo {
    width: 64% !important;
    /* position: relative; */
    white-space: nowrap;
    overflow-x: hidden;
  }

  .titulos {
    font-size: 25px;
  }
}